[Desktop Entry]
Type=Application
Name=immersive-scene
Exec=immersive-scene
Icon=com.patrickporto.immersive-scene
Categories=Audio;Utility;
Terminal=false
